.mo-logo img {
    height: 55px;
}

.navbar, .danavcontainer {
    background-color: white;
}

.da-pad-for-navbar {
    padding-top: 82px;
}
@media (min-width: 576px) {
    body.dasignature.da-pad-for-navbar {
	    padding-top: 82px;
    }
}
.da-top-for-navbar {
    top: 82px;
}
.fa-circle-question{
 color : #007cff
}

da-subquestion{
      margin-top: 1em; 

}

.da-subquestion,h3 {
  margin-top: 1.8em;
    margin-bottom:25px;
} 